<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>842323317460-0craj55d18tsjbnjbp45lco670veegd1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.842323317460-0craj55d18tsjbnjbp45lco670veegd1</string>
	<key>API_KEY</key>
	<string>AIzaSyCYcl6jrJksXfsJaLkG9Wj3FDSQ97k6kBM</string>
	<key>GCM_SENDER_ID</key>
	<string>842323317460</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.isil.GoPlaceCliente</string>
	<key>PROJECT_ID</key>
	<string>goplacecliente2</string>
	<key>STORAGE_BUCKET</key>
	<string>goplacecliente2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:842323317460:ios:67efb2ad942a4df6ace141</string>
</dict>
</plist>